{
  "openapi": "3.0.1",
  "info": {
    "title": "Deeptune API",
    "description": "API for resetting test environments and grading agent tasks",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://huly-api.deeptune.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Endpoints for resetting test environments"
    },
    {
      "name": "Tests & Grading",
      "description": "Endpoints for grading and checking test status"
    }
  ],
  "paths": {
    "/accounts/reset": {
      "post": {
        "tags": ["Accounts"],
        "operationId": "resetAccount",
        "summary": "Reset Account",
        "description": "Reset a test environment to its original state",
        "requestBody": {
          "description": "Account email and app ID to reset",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "app_id"],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Test account email in format [0-99]@deeptune.com"
                  },
                  "app_id": {
                    "type": "string",
                    "description": "ID of the app environment to reset"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment reset successfully"
          },
          "400": {
            "description": "Invalid email format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tests/grade": {
      "post": {
        "tags": ["Tests & Grading"],
        "operationId": "gradeTest",
        "summary": "Grade Test",
        "description": "Grade a specific test",
        "requestBody": {
          "description": "Test details and input data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "test_id"],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Test account email in format [0-99]@deeptune.com"
                  },
                  "test_id": {
                    "type": "string",
                    "description": "ID of the test to check"
                  },
                  "test_params": {
                    "type": "object",
                    "description": "Optional test-specific input data that varies by test type",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test grade response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestGrade"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TestGrade": {
        "type": "object",
        "required": [
          "test_id",
          "test_name",
          "instructions",
          "result",
          "difficulty"
        ],
        "properties": {
          "test_id": {
            "type": "string",
            "description": "Unique identifier for the test"
          },
          "test_name": {
            "type": "string",
            "description": "Human readable name of the test"
          },
          "instructions": {
            "type": "string",
            "description": "Instructions for completing the test"
          },
          "result": {
            "type": "object",
            "required": ["status"],
            "properties": {
              "status": {
                "type": "string",
                "enum": ["success", "failed"],
                "description": "Whether the test passed or failed"
              },
              "step": {
                "type": "string",
                "nullable": true,
                "description": "Step where the test failed (if applicable)"
              },
              "reason": {
                "type": "string",
                "nullable": true,
                "description": "Reason for test failure (if applicable)"
              }
            }
          },
          "difficulty": {
            "type": "string",
            "enum": ["easy", "medium", "hard"],
            "description": "Difficulty level of the test"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
