{
  "openapi": "3.0.1",
  "info": {
    "title": "Deeptune API",
    "description": "API for resetting test environments and grading agent tasks",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.deeptune.ai/v1"
    }
  ],
  "tags": [
    {
      "name": "Apps",
      "description": "Endpoints for managing apps"
    },
    {
      "name": "Accounts",
      "description": "Endpoints for resetting test environments"
    },
    {
      "name": "Tests & Grading",
      "description": "Endpoints for grading and checking test status"
    }
  ],
  "paths": {
    "/apps/{app_id}/tests": {
      "get": {
        "tags": ["Apps"],
        "operationId": "getTests",
        "summary": "Get Tests by App",
        "description": "Get tests for a specific app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the app to get tests for"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "num_tests",
                    "num_easy",
                    "num_medium",
                    "num_hard",
                    "tests"
                  ],
                  "properties": {
                    "tests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Test"
                      },
                      "description": "List of tests for the app"
                    },
                    "num_tests": {
                      "type": "object",
                      "description": "Count of tests by difficulty",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of tests"
                        },
                        "easy": {
                          "type": "integer",
                          "description": "Number of easy difficulty tests"
                        },
                        "medium": {
                          "type": "integer",
                          "description": "Number of medium difficulty tests"
                        },
                        "hard": {
                          "type": "integer",
                          "description": "Number of hard difficulty tests"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_id}/accounts": {
      "get": {
        "tags": ["Apps"],
        "operationId": "getAppAccounts",
        "summary": "Get Accounts by App",
        "description": "Get all accounts associated with a specific app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID of the app to get accounts for"
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts for the app",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["accounts"],
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      },
                      "description": "List of accounts associated with the app"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid app ID or unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_id}/accounts/claim": {
      "post": {
        "tags": ["Apps"],
        "operationId": "claimAppAccount",
        "summary": "Claim Account by App",
        "description": "Claims the first unclaimed account for a specific app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID of the app to claim an account for"
          }
        ],
        "responses": {
          "200": {
            "description": "Account claimed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["account"],
                  "properties": {
                    "account": {
                      "$ref": "#/components/schemas/Account",
                      "description": "The claimed account"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No unclaimed accounts found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/reset": {
      "post": {
        "tags": ["Accounts"],
        "operationId": "resetAccount",
        "summary": "Reset Account",
        "description": "Reset a test environment to its original state",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account to reset"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the operation was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid account ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/claim": {
      "post": {
        "tags": ["Accounts"],
        "operationId": "claimAccount",
        "summary": "Claim Account",
        "description": "Mark an account as claimed",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account to claim"
          }
        ],
        "responses": {
          "200": {
            "description": "Account claimed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "$ref": "#/components/schemas/Account",
                      "description": "Account details"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the operation was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/unclaim": {
      "post": {
        "tags": ["Accounts"],
        "operationId": "unclaimAccount",
        "summary": "Unclaim Account",
        "description": "Mark an account as unclaimed",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account to unclaim"
          }
        ],
        "responses": {
          "200": {
            "description": "Account unclaimed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "$ref": "#/components/schemas/Account",
                      "description": "Account details"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the operation was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tests/{test_id}/grade": {
      "post": {
        "tags": ["Tests & Grading"],
        "operationId": "gradeTest",
        "summary": "Grade Test",
        "description": "Grade a specific test",
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the test to grade"
          }
        ],
        "requestBody": {
          "description": "Test details and input data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["account_id"],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "Account ID of the account to grade"
                  },
                  "test_params": {
                    "type": "object",
                    "description": "Optional test-specific input data that varies by test type",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test grade response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestGrade"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Test": {
        "type": "object",
        "required": [
          "test_id",
          "instructions",
          "explanation",
          "difficulty",
          "expects_answer"
        ],
        "properties": {
          "test_id": {
            "type": "string",
            "description": "Unique identifier for the test"
          },
          "instructions": {
            "type": "string",
            "description": "Instructions for completing the test"
          },
          "explanation": {
            "type": "string",
            "description": "Detailed explanation of how to complete the test"
          },
          "difficulty": {
            "type": "string",
            "enum": ["easy", "medium", "hard"],
            "description": "Difficulty level of the test"
          },
          "expects_answer": {
            "type": "boolean",
            "description": "Whether the test expects an answer to be returned"
          },
          "answer_schema": {
            "type": "string",
            "description": "JSON schema format for the expected answer in natural language (for example, {test_ids: list[str]})"
          }
        }
      },
      "TestGrade": {
        "type": "object",
        "required": [
          "test_id",
          "test_name",
          "instructions",
          "result",
          "difficulty"
        ],
        "properties": {
          "test": {
            "$ref": "#/components/schemas/Test",
            "description": "The test that was graded"
          },
          "result": {
            "type": "object",
            "required": ["status"],
            "properties": {
              "status": {
                "type": "string",
                "enum": ["success", "failed"],
                "description": "Whether the test passed or failed"
              },
              "step": {
                "type": "string",
                "nullable": true,
                "description": "Step where the test failed (if applicable)"
              },
              "reason": {
                "type": "string",
                "nullable": true,
                "description": "Reason for test failure (if applicable)"
              }
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "name",
          "email",
          "password",
          "app_id",
          "workspace_id",
          "is_claimed"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the account"
          },
          "name": {
            "type": "string",
            "description": "Name of the account"
          },
          "email": {
            "type": "string",
            "description": "Email address of the account"
          },
          "password": {
            "type": "string",
            "description": "Password for the account"
          },
          "app_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the app associated with the account"
          },
          "workspace_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the workspace associated with the account"
          },
          "is_claimed": {
            "type": "boolean",
            "description": "Whether the account has been claimed"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
